<div class="title">
  <h1 class="mat-headline">
    Задавайте вопросы лектору
  </h1>
  <h3 class="mat-subheading-2">
    И оценивайте вопросы других участников
  </h3>
</div>

<app-question-form (formSubmit)="onCreate($event)"></app-question-form>

<ng-container *ngIf="(questions$ | async) as questions">
  <h2 class="mat-title" *ngIf="questions.length">Список вопросов</h2>
  <app-questions-list [@listAnimation]="questions.length">
    <app-question-item appSwipeAction (swipeAction)="onDelete(question.id)"
      *ngFor="let question of questions; trackBy: trackByFn;" [question]="question" (toggleLike)="toggleLike($event)">
    </app-question-item>
  </app-questions-list>
</ng-container>
