h1,
h2,
h3 {
  padding: 0 15px;
  text-align: center;
}

app-question-form,
app-questions-list {
  margin-bottom: 50px;
}

app-question-item {
  width: 600px;
  max-width: 90vw;
  display: block;
  margin-bottom: 25px;
}
