mat-list-item {
  mat-card {
    width: 100%;

    p {
      word-wrap: break-word !important;
      white-space: pre-wrap !important;
    }

    mat-card-actions {
      > * {
        margin: 15px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;

      .like-count {
        margin-left: 10px;
      }
    }
  }
}
