mat-card {
  width: 100%;

  p {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .like-count {
      margin: 15px;
    }
  }
}
