<mat-list-item style="height:auto">
  <mat-card>
    <h3 class="mat-subheading-2" matLine style="font-weight: bold">
      {{ question.name }}
    </h3>

    <p class="mat-body-2" matLine>
      {{ question.text }}
    </p>

    <mat-card-actions>
      <button mat-icon-button [color]="question.liked ? 'primary' : 'none'" aria-label="Поставить лайк вопросу"
        (click)="likeToggle(question)" class="like">
        <mat-icon [@like]="question.liked ? 'liked' : 'unliked'">thumb_up</mat-icon>
      </button>
      <span class="like-count">{{ question.likes || 0 }}</span>
    </mat-card-actions>

  </mat-card>
</mat-list-item>
